
html,
body {
    height: 100%;
    color: whitesmoke
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: #303f9f;
    font-weight: 600;
}

mat-card {
    margin-left: 10%;
    margin-right: 10%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}